.our-product {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
}


.our-product .judul-pro {
    height: 36px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-left: 45px;
    margin-bottom: 35px;
}

.our-product .items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-items: center;
    gap: 38px 65px;
    margin-left: 60px;
    margin-right: 60px;
}

.item-box {
    width: 280px;
    height: 387px;
    background: #FBFCFF;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    transition: transform .2s;
}

.item-box:hover {
    transform: scale(1.1);
}

.item-box .product-image img {
    width: 261px;
    height: 279px;
    border-radius: 15px;
    padding-top: 8px;
    padding-left: 9px;
    padding-right: 9px;
}

.item-box .item-content {
    display: flex;
    flex-direction: row;
    margin-top: 9.93px;
    margin-left: 9px;
    margin-right: 9px;
    justify-content: space-between;
}

.item-content .ket-item h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.item-content .ket-item h2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #000000;
}

.harga-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}


.item-button {
    width: 96px;
    height: 26px;
    background: #FF0000;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 9px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.item-button:hover {
    background: #e40404;
}

.item-button button {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    cursor: pointer;
}

.buttonss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: white;
}

.wishlist-button{
    font-size: 20px;
    height: 20px;
    width: 20px;
    border: none;
    background-image: url(img/heartt.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wishlist-button:hover{
    background-image: url(img/heartfull.png);
}

.wishlist-added {
    background-image: url(img/heartfull.png) !important;
}

.wishlist-added:hover {
    background-image: url(img/heartt.png) !important;
}