.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center center;
    margin-bottom: 50px;
}

.payment h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.payment-box {
    width: 1293px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FBFCFF;
    border: 3px solid #D9D9D9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.payment-box-form {
    width: 60%;
}

.payment-order {
    width: 40%;
}

.input-field-1 {

    height: 37px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border-bottom: 2px solid #D9D9D9;
    box-sizing: border-box;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.input-field-1 input {
    width: 100%;
    padding: 0 0px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.input-field-1 input::placeholder {
    color: #D9D9D9;
    text-align: left;
}

.input-field-2 {
    width: 100%;
    height: 37px;
    margin-bottom: 60px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-box p {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: left;
    color: #E53433;
    padding-bottom: 5px;
}

.input-box input {
    height: 40px;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 15px;
    color: black;
    justify-items: left;
    align-items: center;
    padding: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
}

.input-field-2 input::placeholder {
    color: #D9D9D9;
    text-align: left;
}

.input-field-3 {
    width: 100%;
    height: 37px;
    margin-bottom: 60px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field-3 .input-box {
    width: 132.13px;
}

.shipping {
    width: 450px;
}

.shipping-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shipping-option>input {
    display: none;
}

.shipping-option input:checked+.radio-btn {
    border: 3px solid #E53433;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.radio-btn {
    border: 3px solid #908E8E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.radio-btn img {
    object-fit: cover;
    width: 100px;
    height: 50px;
}

.payment-order {
    display: flex;
    justify-content: flex-end;
}

.payment-order-box {
    width: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-summary {
    width: 200px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30AFE4;
    border-radius: 5px;
}

.order-summary p {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.date-time {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
}

.date,
.time {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date,
.time p {
    font-weight: 500;
    font-size: 15px;
    color: #868686;
}

.product-qty {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
}

.product-qty-judul {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-qty-items {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-name {
    width: 40%;
    height: 20px;
    text-align: left;
}

.product-quantity {
    width: 17%;
    height: 20px;
    text-align: right;
}

.product-price {
    flex-grow: 1;
    height: 20px;
    text-align: right;
}

.product-name p,
.product-quantity p,
.product-price p {
    font-weight: 600;
    font-size: 15px;
    color: #868686;
}

.payment-order-box span {
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.product-qty-items p {
    font-weight: 500;
    font-size: 15px;
    color: #868686;
}

.subtotal-shipping {
    width: 100%;
    border-bottom: 2px solid black;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
}

.subtotal,
.shipping-cost,
.tax-cost {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal p,
.shipping-cost p,
.tax-cost p {
    font-weight: 500;
    font-size: 15px;
    color: #868686;
}

.total-cost {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
}


.total-cost input {
    width: 30%;
    font-weight: 500;
    font-size: 15px;
    color: #868686;
    text-align: end;
    border: none;
    background-color: transparent;
    outline: none;
}

.payment-method {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;
}

.payment-method p {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    align-items: left;
}

.payment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment-option {
    width: 324px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-button button {
    width: 150px;
    height: 40px;
    background: #FF0000;
    border-radius: 3px;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.payment-button button:hover {
    background: #da0505;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background: white;
    margin: 5% auto;
    width: 30%;
}

.modal-content .judul {
    background: #ebebeb;
    padding: 10px 20px;
}

.modal-content .judul p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    align-items: left;
}

.payment-content {
    padding: 20px;
}

.payment-content p {
    font-size: 15px;
    line-height: 15px;
}

.content-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #C1C1C1;
    margin-bottom: 10px;
    padding: 10px;
}

.total-harga {
    padding: 10px 0;
}

.total-harga p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    align-items: left;
}

#display-total {
    padding-top: 3px;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    color: #da0505;
}

.content-order p {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}


.virtual-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    border: 2px dashed #C1C1C1;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

.virtual-box p {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #00008B;
}

.payment-deadline {
    padding: 0 20px;
}

.nowlater-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px;
}

.payment-button .later {
    background: #dbdbdb;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.payment-button .later:hover {
    background: #959595;
}



.cara-bayar {
    padding: 20px;
    padding-top: 0;
}

.coll-1{
    background-color: #d9d9d9;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.coll-1:hover {
    background-color: #ddd;
}

.cont-1 {
    display: none;
    padding: 2px 20px;
    padding-bottom: 5px;
    font-size: 12px;
}

.cont-1 span {
    color: #00008B;
}

.payment-deadline p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    align-items: left;
}