@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background-color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 50px;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.profile-box {
    width: 1000px;
    border: 3px solid #D9D9D9;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 64px;
    padding-right: 64px;
}

.keterangan-profile {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.judul-profile {
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #000000;
}

.isi-profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 45px;
}

.jenis-profile,
.titik-dua {
    height: 50px;
    display: flex;
    flex-direction: column;
}

.jenis-profile p,
.titik-dua p {
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #000000;
    display: flex;
    align-items: center;
}

.jenis-profile {
    width: 29%;
}

.titik-dua {
    width: 1%;
}

.user-profile {
    width: 70%;
}

.user .garis-profile {
    width: 4%;
}

.garis-profile {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.garis-profile .garis {
    width: 0px;
    margin-top: 40px;
    height: 480px;
    border: 3px solid red;
    filter: blur(2px);
}

.user-profile-input input {
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    padding-left: 10px;
    border-style: none;
}

.foto-profile {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.filename {
    align-items: center;
    justify-content: center;
    display: flex;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.foto {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.foto-profile-input {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px;
    margin-top: 63px;
}


.foto-profile-input input {
    margin-right: 5px;
    margin-left: 5px;
}


.foto-profile-input input[type="button"],
.foto-profile-input input[type="submit"],
.user-profile-button button[type="button"],
.user-profile-button input[type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #30AFE4;
    cursor: pointer;
    margin-top: 30px;
}

.foto-profile-input input[type="file"] {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #30AFE4;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.foto-profile-input input[type="file"]::before {
    content: 'Choose File';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #30AFE4;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.foto-profile-input input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.foto-profile-input input[type="button"]:hover,
.foto-profile-input input[type="submit"]:hover,
.foto-profile-input input[type="file"]:hover,
.user-profile-button input[type="submit"]:hover,
.user-profile-button button[type="button"]:hover {
    background-color: #0056b3;
}

.foto-profile-input input[type="button"]:focus,
.foto-profile-input input[type="submit"]:focus {
    outline: none;
}

.foto-profile-input input[type="file"]+label {
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    margin-right: 10px;
}

.foto-profile-input input[type="file"]+label:hover {
    background-color: #0056b3;
}

.foto-profile-input input[type="file"]+label:focus {
    outline: none;
}