@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background-color: white;
}

.profile {
    padding: 50px 100px;

}

.seasonTabs {
    position: relative;
}

.season_tab {
    width: 286px;
}

.season_tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    left: 1px;
    width: 200px;
    height: 40px;
    display: table-cell;
}

.season_tab [type=radio] {
    display: none;
}

.season_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
}

[type=radio]:checked~label {
    background: white;
    z-index: 2;
}

[type=radio]:checked~label~.season_content {
    z-index: 1;
}

.content-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    padding-right: 0;
}

.judul {
    font-weight: 600;
    font-size: 27px;
    color: #000000;
}

.desc {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
}

.filename-box {
    width: 100%;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-user {
    width: 35%;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    border-left: 1px solid #ccc;
    gap: 5px;
}

.foto-user img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.foto-profile-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.foto-profile-input input[type="button"],
.foto-profile-input input[type="submit"],
.user-profile-button button[type="button"],
.user-profile-button input[type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #30AFE4;
    cursor: pointer;
}

.foto-profile-input input[type="file"] {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #30AFE4;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.foto-profile-input input[type="file"]::before {
    content: 'Choose File';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #30AFE4;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.foto-profile-input input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.foto-profile-input input[type="button"]:hover,
.foto-profile-input input[type="submit"]:hover,
.foto-profile-input input[type="file"]:hover,
.user-profile-button input[type="submit"]:hover,
.user-profile-button button[type="button"]:hover {
    background-color: #0056b3;
}

.foto-profile-input input[type="button"]:focus,
.foto-profile-input input[type="submit"]:focus {
    outline: none;
}

.foto-profile-input input[type="file"]+label {
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

.foto-profile-input input[type="file"]+label:hover {
    background-color: #0056b3;
}

.foto-profile-input input[type="file"]+label:focus {
    outline: none;
}


.user-profile-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.isi-profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.user-profile-input {
    display: flex;
    flex-direction: column;
    gap: 32.4px;
    height: 22px;
}

.jenis-profile,
.titik-dua {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
}

.jenis-profile p,
.titik-dua p {
    font-weight: 500;
    height: 20px;
    font-size: 16px;
    color: #000000;
}

.user-profile-input input {
    font-weight: 500;
    height: 18px;
    font-size: 16px;
    color: #000000;
    border: none;
    margin-left: 5px;
}

.user-profile-button {
    margin-left: 20px;
}

#editForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-change-password {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-input {
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.form-button:hover {
    background-color: #45A55F;
}

.label-form {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    background-color: white;
    margin-bottom: 5px;
}

.messages {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.messages li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}

.messages li.success {
    background-color: #C1FFC1;
    color: #006400;
}

.messages li.error {
    background-color: #FFB6B6;
    color: #8B0000;
}

.content-wishlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.no-wishlist {
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.wishlist-box a{
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.wishlist-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.item-button {
    width: 96px;
    height: 26px;
    background: #FF0000;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.item-button:hover {
    background: #e40404;
}

.item-button button {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    cursor: pointer;
}

.buttonss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.wishlist-button {
    font-size: 20px;
    height: 20px;
    width: 20px;
    border: none;
    background-image: url(img/heartfull.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wishlist-button:hover {
    background-image: url(img/heartt.png);
}

.desc-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.desc-box .wishlist-name {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.desc-box .wishlist-desc {
    font-weight: 400;
    font-size: 14px;
    color: #b3b3b3;
}

.desc-box .wishlist-price {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #cc0000;
}