{% extends 'base.html' %}
{% block title %}All Product{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/all_products.css' %}">
{% include 'navbar.html' %}
<!-- our product -->
<div class="our-product" id="product">
    <div class="judul-pro">Our Product</div>
    <div class="items">
        {% for p in products %}
        <div class="item-box 1">
                <a href="{% url 'product' p.id %}">
                <div class="product-image">
                    <img src="{{p.image.url}}" alt="">
                </div>
                <div class="item-content">
                    <div class="ket-item">
                        <h1>{{p.name}}</h1>
                        <h2>{{p.description}}</h2>
                    </div>
                    <div class="harga-item">${{p.price}}</div>
                </div>
                <div class="buttonss">
                    <div class="item-button">
                        <form method="POST" action="{% url 'add_to_cart' p.id %}">
                                {% csrf_token %}
                            <button type="submit">Add to cart</button>
                            <input type="hidden" name="quantity" value="1">
                        </form>
                    </div>
                    <form method="POST" action="{% url 'add_to_wishlist' p.id %}" class="wishlist">
                        {% csrf_token %}
                        {% if request.user.is_authenticated and p in request.user.wishlist.products.all %}
                            <button type="submit" class="wishlist-button wishlist-added"></button>
                        {% else %}
                            <button type="submit" class="wishlist-button"></button>
                        {% endif %}
                    </form>
                </div>
            </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}