{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'cart.css' %}">

{% include 'navbar.html' %}
<div class="cartpage">
    <h1>My Cart</h1>
    <div class="cart">
        
        <div class="cart-list">
            {% for item in items %}
            <div class="cart-box">
                <div class="cart-box-content">
                    <a href="{% url 'product' item.product.id %}">
                        <img src="{{ item.product.image.url }}" alt="">
                    </a>
                    <div class="product">
                        <h2>{{ item.product.name }}</h2>
                        <p class="desc">{{item.product.description}}</p>
                        <p class="price">${{item.product.price}}</p>
                        <div class="qty-delete">
                            <div class="qty">
                                <button data-product="{{item.id}}"  class="qty-btn updateItem" data-action="remove" >-</button>
                                <input id="qtyInput" type="text" min="1" value="{{item.quantity}}" readonly> </input>
                                <button data-product="{{item.id}}"  class="qty-btn updateItem" data-action="add"  >+</button>
                            </div>
                            <button data-product="{{item.id}}" class="delete-btn updateItem" data-action="delete" >Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="payment-box">
            <h2>Payment</h2>
            <div class="title-pay">
                <p>Product name</p>
                <p>Price</p>
            </div>
            <div class="product-pay-box">
                {% for item in items %}
                <div class="product-pay">
                    <p>{{item.product.name}}</p>
                    <p>${{item.get_total|floatformat:2}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="total-price">
                <p>Total</p>
                <p>${{subtotal|floatformat:2}}</p>
            </div>
            <div class="pay-button">
                <input type="submit" value="Continue to payment" onclick="window.location.href='{% url 'payment' %}'" > 
            </div>
        </div>
    </div>
</div>

<script>
    const qtyInput = document.getElementById('qtyInput');
    
        function decreaseQty() {
        let currentValue = parseInt(qtyInput.value);
        if (currentValue > 1) {
            currentValue--;
            qtyInput.value = currentValue;
        }
        }
    
        function increaseQty() {
        let currentValue = parseInt(qtyInput.value);
        currentValue++;
        qtyInput.value = currentValue;
        }
</script>

<script>
    var update = document.getElementsByClassName('updateItem')
    for(var i = 0; i < update.length; i++){
        update[i].addEventListener('click', function(){
            var productId  = this.dataset.product
            var action = this.dataset.action
            console.log('productId:', productId, 'Action:', action)
            console.log('USER:', user)
            if(user == 'AnonymousUser'){
                console.log('Not logged in')
                alert('You need to login first to add items to your cart.')
            }else{
                updateUserOrder(productId, action)
            }
        })
    }

    function updateUserOrder(productId, action){
        console.log('User is logged in, sending data...')

        var url = '/updateItem/'

        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'productId':productId, 'action':action})
        })

        .then((response) => {
            return response.json()
        })

        .then((response) => {
            console.log('data:', response)
            location.reload()
        })
    }
</script>
{% endblock content %}