{% extends 'base.html' %}
{% block title %}Category{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'categoryPage.css' %}">

{% include 'navbar.html' %}

<div class="categories" id="categories">
    <div class="cat-judul">Category</div>
    <div class="cat-list">
            <div class="cat-box">
                {% if categories.image %}
                <img src="{{categories.image.url}}" alt="">
                {% else %}
                <img src="" alt="">
                {% endif %}
                <div class="cat-text">{{categories.name}}</div>
            </div>
    </div>
</div>
    <div class="our-product" id="product">
        <div class="items">
            {% for p in products %}
            <div class="item-box 1">
                <a href="{% url 'product' p.id %}">
                    <div class="product-image">
                        <img src="{{p.image.url}}" alt="">
                    </div>
                    <div class="item-content">
                        <div class="ket-item">
                            <h1>{{p.name}}</h1>
                            <h2>{{p.description}}</h2>
                        </div>
                        <div class="harga-item">${{p.price}}</div>
                    </div>
                    <form method="POST" action="{% url 'add_to_cart' p.id %}">
                        {% csrf_token %}
                        <div class="item-button">
                            <button type="submit">Add to cart</button>
                        </div>
                        <input type="hidden" name="quantity" value="1">
                    </form>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}