{% load static %}
<link rel="stylesheet" href="{% static '/navbar.css' %}">
<div class="navbar">
    <div class="logo">
        <img src="{% static "img/logo.svg" %}" alt="logo">
    </div>
    <div class="features">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#product">Products</a></li>
        <li><a href="{% url 'cart' %}">Cart{{request.user.profile.cartCount}}</a></li>
        <li><a href="#about">About</a></li>
    </div>

    <div class="user-icon">
        {% if request.user.is_anonymous%}
            <a href="{% url 'login' %}">
                <div class="user-icon">
                    <div class="login-button">
                        <p>Login Now</p>
                    </div>
                </div>
            </a>
        {% endif %}

        {% if request.user.is_authenticated %}
        <div class="user-icon">
            <img src="{% if user.profile.image.url and user.profile.image %}{{ user.profile.image.url }}{% else %}{% static "img/user-default.jpg" %}{% endif %}" alt="">
            <p>{{ request.user.username }}</p>
            <ul>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'purchase' %}">My Purchases</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
