{% extends 'base.html' %}
{% block title %}Payment{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'payment.css' %}">

{% include 'navbar.html' %}
<form action="" method="post">
{% csrf_token %}
    <div class="payment">  
        <h1>Checkout</h1>
        <div class="payment-box">
            <div class="payment-box-form">
                <div class="input-field-1">
                    <img src="{% static 'img/car-cart.png' %}" alt="">
                    <input type="text" name="delivery_address" placeholder="Delivery Address" required>
                </div>
                <div class="input-field-2">
                    <div class="input-box">
                        <p>Full Name</p>
                        <input type="text" name="full_name" value="{{ user.profile.fullname }}" required>
                    </div>
                    <div class="input-box">
                        <p>Email</p>
                        <input type="text" name="email" value="{{ user.email }}" required>
                    </div>
                </div>
                <div class="input-field-2">
                    <div class="input-box">
                        <p>Address</p>
                        <input type="text"  name="address" value="{{ user.profile.address }}" required>
                    </div>
                    <div class="input-box">
                        <p>Phone</p>
                        <input type="text" name="phone" value="{{ user.profile.phone }}" required>
                    </div>
                </div>
                <div class="input-field-3">
                    <div class="input-box">
                        <p>City</p>
                        <input name="city" type="text" required>
                    </div>
                    <div class="input-box">
                        <p>Province</p>
                        <input name="province" type="text" required>
                    </div>
                    <div class="input-box">
                        <p>Country</p>
                        <input type="text" required>
                    </div>
                    <div class="input-box">
                        <p>ZIP Code</p>
                        <input name="zipcode" type="text" required>
                    </div>
                </div>
                
                <div class="shipping">
                    <p>Select a shipping method</p>
                    <div class="shipping-box">
                        {% for e in expeditions %}
                            <label class="shipping-option">
                                <input type="radio" id="shippingMethodSelect{{ forloop.counter }}" value="{{ e.price }}" data-expedition-id="{{ e.id }}" name="shipping_method" required>
                                <div class="radio-btn">
                                    <img src="{{ e.image.url }}" alt="">
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            
            <div class="payment-order">
                <div class="payment-order-box">
                    <div class="order-summary">
                        <p>Order Summary - #{{ order_number }}</p>
                        <input type="hidden" name="order_number" value="{{ order_number }}">
                    </div>
                    <div class="date-time">
                        <input type="hidden" name="date_ordered" value="{{ order.date_ordered }}">
                        <div class="date">
                            <span>Date</span>
                            <p>{{ order.date_ordered|date:"d F Y" }}</p>
                        </div>
                        <div class="time">
                            <span>Time</span>
                            <p>{{ order.date_ordered|time:"H:i A" }}</p>
                        </div>
                    </div>
                    
                    <div class="product-qty">
                        <div class="product-qty-judul">
                            <span>Product</span>
                            <span>Qty.</span>
                        </div>
                        {% for o in order_items %}
                        <div class="product-qty-items">
                            <p>{{o.product.name}}</p>
                            <p>${{o.product.price}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="subtotal-shipping">
                        <div class="subtotal">
                            <span>Subtotal</span>
                            <p class="subtotal-value">${{subtotal|floatformat:2}}</p>
                        </div>
                        <div class="shipping-cost">
                            <span>Shipping</span>
                            <p class="shipping-value">$0.00</p>
                        </div>                    
                        <div class="shipping-cost">
                            <span>Tax</span>
                            <p class="tax-value">$0.00</p>
                        </div>
                    </div>
                    <div class="total-cost">
                        <span>Total</span>
                        <input name="total_cost" class="total-value" value="$0.00" readonly>
                    </div>
                    

                    <!-- payment method -->
                    <div class="payment-method">
                        <p>Payment method</p>
                        <div class="payment-form">
                            <select class="payment-option" id="paymentMethodSelect" name="payment_method">
                                <option value="" disabled selected>Select payment method</option>
                                {% for method in payment_methods %}
                                    <option value="{{ method.tax }}" data-payment-id="{{ method.id }}" required>{{ method.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="payment-button">
                                <button type="submit">Confirm</button>
                            </div>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    const subtotalValue = document.querySelector('.subtotal-value');
    const shippingValue = document.querySelector('.shipping-value');
    const taxValue = document.querySelector('.tax-value');
    const totalValue = document.querySelector('.total-value');

    const updateTotal = () => {
        const subtotal = parseFloat(subtotalValue.textContent.slice(1));
        const shipping = parseFloat(shippingValue.textContent.slice(1));
        const tax = parseFloat(taxValue.textContent.slice(1));

        const total = subtotal + shipping + tax;

        totalValue.value = '$' + total.toFixed(2);
    };

    // Event listener untuk update total saat opsi pengiriman berubah
    {% for e in expeditions %}
    const shippingMethodSelect{{ forloop.counter }} = document.getElementById('shippingMethodSelect{{ forloop.counter }}');
    shippingMethodSelect{{ forloop.counter }}.addEventListener('change', function() {
        const shippingPrice = parseFloat(shippingMethodSelect{{ forloop.counter }}.value);
        shippingValue.textContent = '$' + shippingPrice.toFixed(2);
        updateTotal();
    });
    {% endfor %}

    // Event listener untuk update total saat opsi pembayaran berubah
    const paymentMethodSelect = document.getElementById('paymentMethodSelect');
    paymentMethodSelect.addEventListener('change', function() {
        const tax = parseFloat(paymentMethodSelect.value);
        taxValue.textContent = '$' + tax.toFixed(2);
        updateTotal();
    });

    // Panggil fungsi updateTotal() saat halaman dimuat untuk menginisialisasi total
    updateTotal();
</script>



{% endblock content %}