{% extends 'base.html' %}
{% block title %}Payment{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'payment.css' %}">

{% include 'navbar.html' %}
<form action="" method="post">
{% csrf_token %}
    <div class="payment">  
        <h1>Checkout</h1>
        <div class="payment-box">
            <div class="payment-box-form">
                <div class="input-field-1">
                    <img src="{% static 'img/car-cart.png' %}" alt="">
                    <input type="text" name="delivery_address" placeholder="Delivery Address" required>
                </div>
                <div class="input-field-2">
                    <div class="input-box">
                        <p>Full Name</p>
                        <input type="text" name="full_name" value="{{ user.profile.fullname }}" required>
                    </div>
                    <div class="input-box">
                        <p>Email</p>
                        <input type="text" name="email" value="{{ user.email }}" required>
                    </div>
                </div>
                <div class="input-field-2">
                    <div class="input-box">
                        <p>Address</p>
                        <input type="text"  name="address" value="{{ user.profile.address }}" required>
                    </div>
                    <div class="input-box">
                        <p>Phone</p>
                        <input type="text" name="phone" value="{{ user.profile.phone }}" required>
                    </div>
                </div>
                <div class="input-field-3">
                    <div class="input-box">
                        <p>City</p>
                        <input name="city" type="text" required>
                    </div>
                    <div class="input-box">
                        <p>Province</p>
                        <input name="province" type="text" required>
                    </div>
                    <div class="input-box">
                        <p>Country</p>
                        <input type="text" required>
                    </div>
                    <div class="input-box">
                        <p>ZIP Code</p>
                        <input name="zipcode" type="text" required>
                    </div>
                </div>
                
                <div class="shipping">
                    <p>Select a shipping method</p>
                    <div class="shipping-box">
                        {% for e in expeditions %}
                            <label class="shipping-option">
                                <input type="radio" id="shippingMethodSelect{{ forloop.counter }}" value="{{ e.price }}" data-expedition-id="{{ e.id }}" name="shipping_method" required>
                                <div class="radio-btn">
                                    <img src="{{ e.image.url }}" alt="">
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            
            <div class="payment-order">
                <div class="payment-order-box">
                    <div class="order-summary">
                        <p>Order - #{{ order_number }}</p>
                        <input type="hidden" name="order_number" value="{{ order_number }}">
                    </div>
                    <div class="date-time">
                        <input type="hidden" name="date_ordered" value="{{ order.date_ordered }}">
                        <div class="date">
                            <span>Date</span>
                            <p>{{ order.date_ordered|date:"d F Y" }}</p>
                        </div>
                        <div class="time">
                            <span>Time</span>
                            <p>{{ order.date_ordered|time:"H:i A" }}</p>
                        </div>
                    </div>
                    
                    <div class="product-qty">
                        <div class="product-qty-judul">
                            <span>Product</span>
                            <span>Qty.</span>
                            <span>Price</span>
                        </div>
                        {% for o in order_items %}
                        <div class="product-qty-items">
                            <div class="product-name">
                                <p>{{o.product.name}}</p>
                            </div>
                            <div class="product-quantity">
                                <p>{{o.quantity}}</p>
                            </div>
                            <div class="product-price">
                                <p>${{o.product.price}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="subtotal-shipping">
                        <div class="subtotal">
                            <span>Subtotal</span>
                            <p class="subtotal-value">${{subtotal|floatformat:2}}</p>
                        </div>
                        <div class="shipping-cost">
                            <span>Shipping</span>
                            <p class="shipping-value">$0.00</p>
                        </div>                    
                        <div class="shipping-cost">
                            <span>Tax</span>
                            <p class="tax-value">$0.00</p>
                        </div>
                    </div>
                    <div class="total-cost">
                        <span>Total</span>
                        <input name="total_cost" class="total-value" value="$0.00" readonly>
                    </div>
                    

                    <!-- payment method -->
                    <div class="payment-method">
                        <p>Payment method</p>
                        <div class="payment-form">
                            <select class="payment-option" id="paymentMethodSelect" name="payment_method">
                                <option value="" disabled selected>Select payment method</option>
                                {% for method in payment_methods %}
                                    <option value="{{ method.tax }}" data-payment-id="{{ method.id }}" required>{{ method.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="payment-button">
                                <button id="myBtn" disabled>Confirm</button>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} modal content {% endcomment %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="judul"><p>Pay now :</p></div>
            <div class="payment-content">
                <div class="content-order">
                    <p>Order - #{{ order_number }}</p>
                </div>
                <div class="total-harga">
                    <p>Total payment:</p>
                    <div id="display-total"></div>
                </div>
                <p>Virtual Account Number :</p>
                <div class="virtual-box">
                    <p>
                        {% with virtual_account|stringformat:"s" as virtual_account_str %}
                            {% for i in virtual_account_str %}
                                {{ i }}
                                {% if forloop.counter|stringformat:"s"|divisibleby:"4" and not forloop.last %}
                                    -
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </p>
                </div>
            </div>
            <div class="cara-bayar">
                {% for method in payment_methods %}
                <button type="button" class="coll-1">{{method.name}}</button>
                <div class="cont-1">
                    <ul>
                        <li>Login ke {{method.name}} Mobile.</li>
                        <li>Pilih menu <span>Transfer > Virtual Account Billing<span>.</li>
                        <li>Masukkan nomor {{method.name}}: <span>{% with virtual_account|stringformat:"s" as virtual_account_str %}
                            {% for i in virtual_account_str %}
                                {{ i }}
                                {% if forloop.counter|stringformat:"s"|divisibleby:"4" and not forloop.last %}
                                    -
                                {% endif %}
                            {% endfor %}
                        {% endwith %}</span>.</li>
                        <li>Periksa apakah informasi yang tertera sudah sesuai, jika benar pilih <span>Ya</span>.</li>
                    </ul>
                </div>
                {% endfor %}
            </div>

            <div class="payment-deadline">
                <p>Payment deadline :</p>
                <p id="countdown"></p>
            </div>
            <div class="nowlater-button">
                <div class="payment-button">
                    <button  id="nowButton" name="type" type="submit" value="now">Pay now</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% comment %} countdown deadline {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var countdownElement = document.getElementById('countdown');
        var confirmButton = document.getElementById('myBtn');
        var reloadInterval;

        // Function to start the countdown
        function startCountdown() {
            confirmButton.disabled = true; // Disable the Confirm button
            var targetTime = new Date();
            targetTime.setMinutes(targetTime.getMinutes() + 5);

            var countdownInterval = setInterval(updateCountdown, 1000);

            function updateCountdown() {
                var currentTime = new Date();
                var remainingTime = targetTime - currentTime;

                var minutes = Math.floor(remainingTime / (1000 * 60));
                var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

                countdownElement.textContent = minutes.toString().padStart(2, '0') + ':' +
                    seconds.toString().padStart(2, '0');

                if (remainingTime <= 0) {
                    clearInterval(countdownInterval);
                    countdownElement.textContent = "Pembayaran gagal mohon lakukan pemesanan ulang";
                    reloadInterval = setTimeout(function () {
                        location.reload(); // Reload the page after 5 minutes
                    }, 5000);
                }
            }
        }

        confirmButton.addEventListener('click', function () {
            startCountdown();
        });

        var modal = document.getElementById("myModal");

        window.onclick = function (event) {
            if (event.target == modal) {
                clearTimeout(reloadInterval); // Clear the reload interval if the modal is closed
                modal.style.display = "none";
            }
        };
    });
</script>



{% comment %} collapsible tutorial pay {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var collapsibleBtns = document.querySelectorAll('.coll-1');
        
        collapsibleBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var content = this.nextElementSibling;
                content.style.display = content.style.display === 'none' ? 'block' : 'none';
            });
        });
    });
</script>

{% comment %} update total price {% endcomment %}
<script>
    const subtotalValue = document.querySelector('.subtotal-value');
    const shippingValue = document.querySelector('.shipping-value');
    const taxValue = document.querySelector('.tax-value');
    const totalValue = document.querySelector('.total-value');

    const updateTotal = () => {
        const subtotal = parseFloat(subtotalValue.textContent.slice(1));
        const shipping = parseFloat(shippingValue.textContent.slice(1));
        const tax = parseFloat(taxValue.textContent.slice(1));

        const total = subtotal + shipping + tax;

        totalValue.value = '$' + total.toFixed(2);
        const displayTotal = document.getElementById('display-total');
        displayTotal.innerText = totalValue.value;
    };

    // Event listener untuk update total saat opsi pengiriman berubah
    {% for e in expeditions %}
    const shippingMethodSelect{{ forloop.counter }} = document.getElementById('shippingMethodSelect{{ forloop.counter }}');
    shippingMethodSelect{{ forloop.counter }}.addEventListener('change', function() {
        const shippingPrice = parseFloat(shippingMethodSelect{{ forloop.counter }}.value);
        shippingValue.textContent = '$' + shippingPrice.toFixed(2);
        updateTotal();
    });
    {% endfor %}

    // Event listener untuk update total saat opsi pembayaran berubah
    const paymentMethodSelect = document.getElementById('paymentMethodSelect');
    paymentMethodSelect.addEventListener('change', function() {
        const tax = parseFloat(paymentMethodSelect.value);
        taxValue.textContent = '$' + tax.toFixed(2);
        updateTotal();
    });

    // Panggil fungsi updateTotal() saat halaman dimuat untuk menginisialisasi total
    updateTotal();
</script>



{% comment %} Munculkan modals {% endcomment %}
<script>
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");


    // When the user clicks on the button, open the modal
    btn.onclick = function(event) {
        event.preventDefault(); // Mencegah perilaku bawaan tombol
        modal.style.display = "block";
    }
</script>

{% comment %} Agar tombol tidak bisa diklik {% endcomment %}
<script>
    // Mendapatkan elemen tombol "Confirm" dan input
    var confirmButton = document.getElementById('myBtn');
    var inputs = document.querySelectorAll('input[required]');

    // Menambahkan event listener pada setiap input
    inputs.forEach(function(input) {
        input.addEventListener('input', function() {
            var allInputsFilled = Array.from(inputs).every(function(input) {
                return input.value.trim() !== '';
            });

            // Mengatur atribut disabled pada tombol "Confirm" sesuai kondisi
            confirmButton.disabled = !allInputsFilled;
        });
    });

    // Mengatur atribut disabled pada tombol saat halaman pertama kali dimuat
    confirmButton.disabled = true;
</script>


{% endblock content %}