{% extends 'base.html' %}
{% block title %}My Profile{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile.css' %}">

{% include 'navbar.html' %}
    <div class="profile">
            <div class="profile-box">
                <div class="foto-profile">
                    <p class="judul-profile">My Profile</p>
                    <form action="{% url 'edit_image' %}" method="post" enctype="multipart/form-data" id="editForm">
                        {% csrf_token %}
                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% if user.profile.image.url and user.profile.image %}{{ user.profile.image.url }}{% else %}{% static "img/user-default.jpg" %}{% endif %}" alt="">
                            </div>
                        </div>
                        <div class="filename">
                            <p id="fileName" style="display: none;"></p>
                        </div> 
                        <div class="foto-profile-input">
                            <input type="file" name="profile_image" id="profileImage" style="display: none;" onchange="showFileName()" accept="image/*">
                            <input type="button" value="Edit" id="editButton2" onclick="enableEdit()">
                            <input type="submit" value="Save" id="saveButton2" style="display: none;">
                            <input type="button" value="Cancel" id="cancelButton" style="display: none;" onclick="cancelEdit()">
                        </div>
                    </form>     
                </div>
                <div class="garis-profile">
                    <div class="garis"></div>
                </div>
                <div class="keterangan-profile">
                    <form action="" method="post" class="user-profile-form">
                        {% csrf_token %}
                            <div class="isi-profile">
                                <div class="jenis-profile">
                                    <p>Username</p>
                                    <p>Email</p>
                                    <p>Phone Number</p>
                                    <p>Address</p>
                                    <p>Full Name</p>
                                    <p>Nick Name</p>
                                </div>
                                <div class="titik-dua">
                                    <p>:</p>
                                    <p>:</p>
                                    <p>:</p>
                                    <p>:</p>
                                    <p>:</p>
                                    <p>:</p>
                                </div>
                                <div class="user-profile">
                                    <div class="user-profile-input">
                                        <input type="text" name="username" id="username" value="{{ user.username }}" readonly>
                                        <input type="email" name="email" id="email" value="{{ user.email }}" readonly>
                                        <input type="text" name="phone" id="phone" value="{{ user.profile.phone }}" readonly>
                                        <input type="text" name="address" id="address" value="{{ user.profile.address }}" readonly>
                                        <input type="text" name="fullname" id="fullname" value="{{ user.profile.fullname }}" readonly>
                                        <input type="text" name="nickname" id="nickname" value="{{ user.profile.nickname }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="user-profile-button">
                                <button type="button" id="editButton" onclick="toggleEdit()">Edit</button>
                                <input type="submit" value="Save" id="saveButton" style="display: none;">
                            </div>
                        </form>
                        
                </div>
            </div>
        </div>

        <script>
            function showFileName() {
                var fileInput = document.getElementById('profileImage');
                var fileNameDisplay = document.getElementById('fileName');
            
                fileNameDisplay.innerText = fileInput.files[0].name;
                fileNameDisplay.style.display = 'block';
            }

            function enableEdit() {
                var profileImageInput = document.getElementById('profileImage');
                profileImageInput.style.display = 'block';
                
                var editButton = document.getElementById('editButton2');
                editButton.style.display = 'none';
                
                var saveButton = document.getElementById('saveButton2');
                saveButton.style.display = 'block';
                
                var cancelButton = document.getElementById('cancelButton');
                cancelButton.style.display = 'block';
            }

            function cancelEdit() {
                var profileImageInput = document.getElementById('profileImage');
                var fileNameDisplay = document.getElementById('fileName');
            
                profileImageInput.style.display = 'none';
                fileNameDisplay.style.display = 'none';
            
                var editButton = document.getElementById('editButton2');
                editButton.style.display = 'block';
            
                var saveButton = document.getElementById('saveButton2');
                saveButton.style.display = 'none';
            
                var cancelButton = document.getElementById('cancelButton');
                cancelButton.style.display = 'none';
            
                // Reset input file value (optional)
                profileImageInput.value = '';
            }
            

// Simpan nilai awal input
var initialValues = {};

// Simpan status readonly awal
var initialReadonly = {};

function toggleEdit() {
    var inputs = document.querySelectorAll('.user-profile-input input');
    var editButton = document.getElementById('editButton');
    var saveButton = document.getElementById('saveButton');

    if (editButton.innerText === 'Edit') {
    // Simpan nilai awal input dan status readonly
    inputs.forEach(function(input) {
        initialValues[input.id] = input.value;
        initialReadonly[input.id] = input.readOnly;
        input.readOnly = false;
    });

    editButton.innerText = 'Cancel';
    saveButton.style.display = 'inline-block';
    } else {
    editButton.innerText = 'Edit';
    saveButton.style.display = 'none';

    inputs.forEach(function(input) {
      // Kembalikan nilai awal input dan status readonly
        input.value = initialValues[input.id];
        input.readOnly = initialReadonly[input.id];
    });
    }
}


            
        </script>
{% endblock content %}